[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/masterguille/client-gateway
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Microservices-MasterGuille/products-microservice
